/* Enter your custom styles here */
.sapMPageHeader {
  background-color: #00519e !important;
}

.sapMTitle, .sapMBtnIcon {
  color: #ffffff !important;
}

div#__title1 {
  font-size: 0.85em;
  font-weight: bold;
}

div#__title3 {
  font-size: 0.85em;
}

.whint1 {
  color: #00519e !important;
}

.whint2 {
  color: #ff4a00 !important;
}