/* Enter your custom styles here */
.header {
  background-color: #00519e !important;
  color: white !important;
}

.title {
  font-size: 0.9em;
  color: #ffffff !important;
}

.bold {
  font-weight: bold;
}

span#__button0-iconBtn {
  color: #ffffff !important;
}

.whint1 {
  color: #00519e !important;
}

.whint2 {
  color: #ff4a00 !important;
}